
.education-container {
    padding: 2rem;
    background-color: indigo;
    text-align: center;
  }
  
  .section-heading {
    font-size: 2.5rem;
    color: rgb(223, 130, 24);
    margin-bottom: 1.5rem;
  }
  
  .education-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .education-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: 280px;
    text-align: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .education-card:hover {
    transform: translateY(-10px);
    transform: scale(1.05);
  }
  
  .degree-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .degree-details {
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 0.5rem;
  }
  
  .university-name {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .education-duration {
    font-size: 1rem;
    color: #888;
    margin-bottom: 1rem;
  }
  
  .education-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
  }
  .download-btn {
    background-color: #ff5722; 
    color: white;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-btn:hover {
    background-color: #e64a19; 
    transform: scale(1.05);
  }
  
  @media (max-width: 768px) {
    .education-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .education-card {
      width: 90%;
    }
  }
  