body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .email-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .email-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 1.1rem;
    color: #0078d4;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #5b9bd5;
    outline: none;
  }
  
  .submit-button {
    padding: 12px;
    background-color: rgb(223, 83, 8);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-left: 20%;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: rgb(221, 10, 59);
    transform: scale(1.05);
  }
  
  .response-message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #4caf50;
  }
  